
# ignore Composer if in this directory
composer.phar
composer.lock
.htaccess
.idea

# ignore saved credentioals for superroot
inc/super.php

# exclude these Folders
admin/**/*
extensions/**/*
wizards/**/*
templates/**/*

# re-include some files from previously excluded folders
!admin/readme.md
!admin/header.php
!admin/index.php
!extensions/readme.md
!extensions/index.php
!templates/readme.md
!wizards/readme.md
!wizards/index.php

# language-folders
inc/login/locales/*.php

